@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

.title {
  padding-top: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  flex: 1;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.hero-content {
  padding: 2rem;
  height: 750px;
}
